<h1>Transaction Editor</h1>
    <p>
        description: <%= tr.description %> <br>
        amount: <%= tr.amount %> <br>
        category: <%= tr.category %> <br>
        date: <%= tr.date.toDateString() %> <br>

    </p>
    <form method="post" action="/transaction/updateTransaction">
        <input type="hidden" name="transactionId" value="<%=tr._id%>">
        <input type="text" name="description" placeholder="description">
        <br>
        <input type="number" step="0.01" name="amount" placeholder="amount">
        <br>
        <input type="text" name="category" placeholder="category">
        <br>
        <input type="date" name="date">
        <br>
        <input type="submit" value="submit">
    </form>